VITE_WINDOWS_DOWNLOAD_URL=https://github.com/fposca/studio/releases/latest/download/Studio-Setup-Windows.exe
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=videostudio-4446b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=videostudio-4446b
VITE_FIREBASE_STORAGE_BUCKET=videostudio-4446b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=384118232865
VITE_FIREBASE_APP_ID=1:384118232865:web:83c56f63f61a70b3d15060
VITE_USE_FIREBASE_EMULATORS=false
